{
  "presets": [["@babel/preset-env"], ["@vue/babel-preset-jsx"]],
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    "dynamic-import-node"
  ]
}
